@import './index';

.h2 {
  font-size: 96px;
  font-weight: 600;
  letter-spacing: -6px;

  @include respond-to(mobile) {
    font-size: 54px;
  }
}

.h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 800;
}

.body {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.bodySmall {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  font-size: 18px;
  font-weight: 500;
}

.cta {
  font-size: 48px;
  font-weight: 400;

  @include respond-to(mobile) {
    font-size: 36px;
  }
}

.eyebrow {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.35;
}
