/* Colors */
$color-black: #000000;
$color-blue--light: #7CC4E5;
$color-blue: #3E66D7;
$color-grey: #666666;
$color-pink: #FFB4C8;
$color-red: #F04C36;
$color-white: #FFFFFF;

/* Breakpoints */
$breakpoint-tablet: 1168px;
$breakpoint-mobile: 920px;
$large-desktop-width: 1320px;
$short-mobile-height: 800px;
