@import '../../../styles/imports/index.scss';

.section {
  align-items: center;
  background-color: $color-blue;
  color: $color-white;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @include respond-to(mobile) {
    height: unset;
    padding: 20px 0 100px;
  }
}

.wrapper {
  display: block;
  left: 0;
  margin: auto;
  max-width: 950px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 230px;

  @include respond-to(mobile) {
    margin-top: 100px;
    position: relative;
    top: 0;
  }
}

.title {
  font-size: 23vw;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  transition: transform 1s ease-in-out 3s;
  z-index: 100;

  @include respond-to(mobile) {
    margin-bottom: 0;
    top: 140px;
  }
}

.headline {
  letter-spacing: -6px;

  @include respond-to(mobile) {
    font-size: 64px;
  }

  > div {
    height: 96px;
    overflow: hidden;
    width: 100%;

    @include respond-to(mobile) {
      height: 68px;
    }

    span {
      position: relative;
      top: 100%;
    }

    &:first-child span { transition: top .3s ease-in-out 4s; }
    &:nth-child(2) span { transition: top .3s ease-in-out 4.1s; }
    &:nth-child(3) span { transition: top .3s ease-in-out 4.2s; }
    &:nth-child(4) span { transition: top .3s ease-in-out 4.3s; }
    &:nth-child(5) span { transition: top .3s ease-in-out 4.4s; }
  }
}

.subtitle {
  height: 72px;
  margin: 4vh 0 7vh;
  overflow: hidden;

  @include respond-to(mobile) {
    font-size: 20px;
    height: 175px;
    margin: 40px 25px 50px;
  }

  span {
    position: relative;
    top: 100%;
    transition: top .3s ease-in-out 4.3s;
  }
}

.button {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .5s ease-in-out 4.4s, transform .5s ease-in-out 4.4s;
}

.stickers {

  .sticker {
    height: 115px;
    opacity: 0;
    position: absolute;
    top: 30%;
    transition: top 1s ease-in-out 4.6s, left 1s ease-in-out 4.6s, right 1s ease-in-out 4.6s, opacity .6s ease-in-out 4.8s;

    @include respond-to(mobile) {
      height: 98px;
    }

    &:first-child,
    &:nth-child(3) {
      left: 45%;
    }
    &:last-child,
    &:nth-child(2) {
      right: 45%;
    }
  }
}

.appeared {

  [data-menu],
  [ data-subscribe] {
    opacity: 1;
    top: 0;
  }

  .title {
    transform: translateY(calc(-33vh + 50px)) scale(.45);
  }

  .headline span,
  .subtitle span {
    top: 0;
  }

  .button {
    opacity: 1;
    transform: translateY(0);
  }

  .sticker {
    opacity: 1;

    &:first-child {
      left: -60px;
      top: -60px;

      @include respond-to(mobile) {
        left: -16px;
        top: -90px;
      }
    }
    &:nth-child(2) {
      right: -20px;
      top: -30px;

      @include respond-to(mobile) {
        right: -28px;
        top: -40px;
      }
    }
    &:nth-child(3) {
      height: 70px;
      left: 80px;
      top: 220px;

      @include respond-to(mobile) {
        left: -27px;
        top: 320px;
      }
    }
    &:nth-child(4) {
      right: 80px;
      top: 200px;

      @include respond-to(mobile) {
        right: -30px;
        top: 244px;
      }
    }
  }
}
