@import '../../../styles/imports/index.scss';

.section {
  cursor: none;
  padding: 25vh 0 23vh;
}

.title {
  max-width: 550px;

  @include respond-to(mobile) {
    margin-bottom: 100px;
  }
}

.wrapper {
  margin-left: auto;
  margin-top: 130px;
  max-width: 480px;
}

.textBody {
  margin-top: 40px;
}

