@import '../../../styles/imports/index.scss';

.section {
  background: $color-white;
  color: $color-black;
  padding: 22vh 0;
}

.title {
  margin-bottom: 180px;
  text-align: center;

  @include respond-to(mobile) {
    margin-bottom: 100px;
    text-align: left;
  }
}

.wrapper {
  @include respond-to(above-mobile) {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}

.item {
  cursor: none;
  max-width: 320px;
  position: relative;

  .image {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 23px;
    top: -55px;
    transition: opacity .3s ease-in-out;
    width: 163px;
    z-index: 0;

    @include respond-to(mobile) {
      opacity: 1;
      position: absolute;
    }
  }

  &:not(:last-child) {
    @include respond-to(mobile) {
      margin-bottom: 80px;
    }
  }

  &:hover {
    .image {
      opacity: 1;
    }

    .itemTitle:after {
      width: 100%
    }
  }
}

.itemTitle {
  display: inline-block;
  margin-bottom: 30px;
  pointer-events: none;
  position: relative;

  &:after {
    background-color: $color-black;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .4s ease-in-out;
    width: 0;
  }
}

.bodyText {
  pointer-events: none;
  position: relative;
}
