@import '../../../styles/imports/index.scss';

.accordion {
	width: 100%;
}

.panel {
  border-bottom: 2px solid $color-white;
	color: $color-white;

	button {
		color: $color-white;
		font-size: 48px;
		font-weight: 400;
	}

	&:not(:last-child) {
		margin-bottom: 3px;
	}

	&[aria-expanded='true'] {
		.content {
			opacity: 1;
		}

		.label {
			color: $color-white;
			font-size: 48px;
			font-weight: 400;

			&:before {
			transform: rotate(0deg);
			}
		}
	}
}

.label {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 17px;
	font-weight: 500;
	padding: 59px 60px 59px 0;
	position: relative;
	text-align: left;
	transition: color .2s linear;
	width: 100%;

	&:focus {
		outline: none;
	}

	&:after,
	&:before {
		background-color: $color-white;
		content: '';
		height: 4px;
		margin-top: -2px;
		position: absolute;
		right: 60px;
		top: 50%;
		width: 40px;
	}

	&:before {
		transform: rotate(-90deg);
		transition: transform .35s cubic-bezier(.65, .05, .36, 1);
	}
}

.inner {
	overflow: hidden;
	transition: height .4s cubic-bezier(.65, .05, .36, 1);
	will-change: height;
}

.content {
  color: $color-white;
	opacity: 0;
	transition: opacity .3s linear .18s;

	.text {
		font-size: 36px;
		line-height: 1.2;
		max-width: 470px;
		padding-bottom: 100px;
	}
}
