html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: WhyteInktrap;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overscroll-behavior: none;
  -ms-scroll-chaining: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
