html {
  box-sizing: border-box;
  height: 100%;

}

body {
  font-family: WhyteInktrap;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;

}

html,
body,
section {
  overflow-x: hidden;
  overscroll-behavior: none;
  -ms-scroll-chaining: none;
  width: 100vw;
}

.App {
  height: 100vh;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[data-cursor],
[data-cursor-smiley] {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity .2s ease-in-out;
  width: 70px;

  @include respond-to(mobile) {
    display: none;
  }
}

[data-cursor-smiley] {
  width: 197px;
}

