@import '../../../styles/imports/index.scss';

.section {
  background: $color-blue;
  color: $color-white;
  padding: 22vh 0;
}

.title {
  max-width: 580px;

  @include respond-to(mobile) {
    margin-bottom: 100px;
  }
}

.wrapper {
  @include respond-to(above-mobile) {
    display: flex;
    justify-content: space-between;
  }
}

.conversation {
  width: 506px;

  @include respond-to(mobile) {
    width: 100%;
  }
}

.bulle {
  margin-bottom: 80px;
  opacity: 0;
  position: relative;
  transform: translateY(40px);

  &:first-child {
    transition: opacity .3s ease-in-out .6s, transform .5s ease-in-out .6s;
    width: 360px;

    @include respond-to(mobile) {
      width: 290px;
    }

    p {
      width: 360px;

      @include respond-to(mobile) {
        width: 290px;
      }
    }
  }

  &:nth-child(2) {
    transition: opacity .3s ease-in-out .8s, transform .5s ease-in-out .9s;
  }

  p {
    background-color: $color-black;
    border-radius: 100px;
    padding: 20px 60px;

    @include respond-to(mobile) {
      padding: 20px 40px;
    }
  }

  &:nth-child(even) {
    margin-left: auto;
    text-align: right;
    width: 320px;

    @include respond-to(mobile) {
      width: 250px;
    }

    p {
      text-align: right;
      background-color: $color-pink;
      width: 320px;

      @include respond-to(mobile) {
        width: 250px;
      }
    }

    .peak {
      bottom: -9px;
      left: unset;
      right: -11px;
    }

    .emoji {
      bottom: -35px;
      left: -43px;
      right: unset;
      width: 84px;
    }
  }

  &:nth-child(3) {
    transition: opacity .3s ease-in-out 1.1s, transform .5s ease-in-out 1.1s;
    width: 370px;

    @include respond-to(mobile) {
      width: 290px;
    }

    p {
      width: 370px;

      @include respond-to(mobile) {
        width: 290px;
      }
    }
  }

  &:nth-child(4) {
    transition: opacity .3s ease-in-out 1.3s, transform .5s ease-in-out 1.3s;
    width: 360px;

    @include respond-to(mobile) {
      width: 280px;
    }

    p {
      width: 360px;

      @include respond-to(mobile) {
        width: 280px;
      }
    }
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  img {
    position: absolute;
    width: 40px;
  }

  .peak {
    bottom: 0;
    left: 0;
  }

  .emoji {
    bottom: -30px;
    right: -5px;
    width: 104px;

    @include respond-to(mobile) {
      right: -25px;
      width: 80px;
    }
  }
}