@import '../../../styles/imports/index.scss';

.menu {
  color: $color-white;
  left: 0;
  position: absolute;
  top: -80px;
  transition: top .6s ease-out 2.7s, opacity .6s ease-out 2.7s;
  width: 100%;
  z-index: 90;

  @include respond-to(mobile) {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  a:nth-child(2) {
    margin-right: 200px;
    position: relative;
    z-index: 50;
  }
}

.wrapper {
  position: relative;
  z-index: 50;

  > * {
    margin-right: 45px;
  }
}

.fixedButton {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
  position: fixed;
  text-align: right;
  top: -80px;
  transition: top .6s ease-out 2.7s, opacity .6s ease-out 2.7s;
  width: 90%;

  a {
    padding: 12px 30px;
  }
}
