@import '../../../styles/imports/index.scss';

.section {
  background: $color-blue;
  color: $color-white;
  padding: 22vh 0;
  position: relative;
  text-align: center;

  @include respond-to(mobile) {
    padding: 18vh 0;
  }
}

.title {
  margin-bottom: 60px;

  @include respond-to(mobile) {
    margin-bottom: 80px;
  }

  @include respond-to(above-mobile) {
    font-size: 80px;
  }
}

.wrapper {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0;
  max-width: 360px;

  span {
    margin-right: 15px;
  }
}
